.card {
    max-width: 60%;
    border-radius: 1px;
    display: inline-block;
    position: fixed;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #234669;
    color: #96b9dc;
    padding: 25px;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.95);
}

.card .title-alert {
  font-size: 24px;
  margin: 0px 0px 16px 0px;
}

.card .menu {
  position: relative;
  margin: 16px 0px 0px 0px;
  display: inline-block;
  float: right;
}

.card input {
  background: transparent;
  color: #8baed1;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.card input:hover {
  background: rgba(0,0,0,0.20);
      border-radius: 25px;
}

.card input:active {
  background: rgba(0,0,0,0.35);
  color: #212121;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
}

.title-alert {
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: 700;
}
.content {
    text-align: center;
    padding: 3%;
    font-size: 18px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}