@charset "utf-8";

/* CSS Document */

/******************************

Questo è il css della pagina dell'utente


******************************/

/*[ FONT ]*/
@font-face {
	font-family: FontAwesome;
	src: url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
}


@font-face {
	font-family: Sabreshark-Two;
	src: url('../fonts/sabreshark/sabresharktwo.ttf');
}

@font-face {
	font-family: Sabreshark-Two;
	src: url('../fonts/sabreshark/sabresharktwo.ttf');
}

@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

#productForUser {
	margin: auto;
}

#megaContainer {
    background: #EDF3F9 url(../images/matrix2.png);
    background-repeat-y: no-repeat;
}

.cont {
    
    padding: 2% 25% 2% 25%;
}

#allContainer {
	width: 90%;
    margin: auto;
    background: #96b9dc;
    border: 1px solid #234669;
    border-radius: 15px;
    padding: 1% 3% 2% 3%;
    color: #234669;
    resize: none;
    font-size: 20px;
    cursor: pointer;
}
h1#greetings {
    margin: 0;
    border: 1px solid #234669;
    border-radius: 50px;
    background: #96b9dc;
}

#emptyContainer {
	width:65%;
    margin: auto;
    background: #96b9dc;
    border: 1px solid #96b9dc;
    border-radius: 15px;
    color: #234669;
    resize: none;
    cursor: pointer;
    margin-top: 1%;
}
input[type="number"] {
    -moz-appearance: textfield;
    /*serve a far assomigliare un campo numerico come un aria di testo*/
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.singleButton, .removeButton, .logoutButton {
	width: 20%;
	margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
	display: inline;
    height: 50px;
    background-color: #234669;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

#buttonsDiv {
	width: 100%;
	margin: auto;
	text-align: center;
}


body{
	margin: 0;
}
#greetings {
	font-family: Poppins-Bold;
	color: #234669;
	text-align: center;
	padding-top: 1%;
	font-size: 250%;
}

#noProducts {
	font-family: Poppins-Bold;
	color: #234669;
	text-align: center;
	padding-top: 1%;
	font-size: 200%;
}

#userList li {
	list-style: none;
	font-family: Poppins-bold;
}

h1#greetings {
    margin: 0;
}


@media (max-width: 1200px) {
	.singleButton, .removeButton, .logoutButton {
		width: 25%;
	}
}

@media (max-width: 910px) {
	.singleButton, .removeButton, .logoutButton {
		width: 30%;
	}
}

@media (max-width: 760px) {
	.singleButton, .removeButton, .logoutButton {
		width: 35%;
	}
}

@media (max-width: 670px) {
	.singleButton, .removeButton, .logoutButton {
		width: 40%;
	}
}

@media (max-width: 560px) {
	.singleButton, .removeButton, .logoutButton {
		width: 45%;
	}
}

@media (max-width: 490px) {
	.singleButton, .removeButton, .logoutButton {
		width: 50%;
	}

	#userList li {
		font-size: 80%;
	}

	#userList {
		text-align: center;
		margin: auto;
		padding: 0;
	}
}

.cart_section {
    
    padding: 30px 50px 100px 50px;
}


/* codice tabella responsive */

.cart-table,
.cart-table-selectAll,
.cart-table-total {
    border: 1px solid #234669;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #234669;
}

.cart-table-selectAll {
    margin-bottom: 20px;
}

.cart-table-total {
    margin-top: 20px;
}

.product_info_table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.cart-table .crt-tb-row,
.cart-table-selectAll .crt-tb-row,
.cart-table-total .crt-tb-row {
    background-color: #96b9dc;
    border: 1px solid #234669;
    padding: .35em;
}

#prd-tb-check {
    width: 5%;
}

#prd-tb-img,
#prd-tb-dscr {
    padding: 2%;
        text-align: center;
}

.cart-table .crt-tb-th,
.cart-table .crt-tb-td{
    padding: 10px;
    text-align: center;
    font-family: poppins-bold;
 
}

.cart-table .crt-tb-th{
    font-size: 15px;
    text-transform: uppercase;
    font-family: poppins-bold;
}

.cart-table .crt-tb-th:first-child,
.cart-table-selectAll .crt-tb-th:first-child,
.cart-table-total .crt-tb-th:first-child {
    text-align: left;
    padding-left: 40px;
}

.text_quantity {
    width: 70px;
    border-radius: 30px;
    text-align: center;
    color: #234669;
    background-color: white;
    display: inline-flex;
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.add_quantity {
    font-size: 18px;
    margin: auto;
    cursor: pointer;
}

.remove_quantity {
    margin: auto;
    font-size: 22px;
    cursor: pointer;
}

.quantity {
    margin: auto;
}

h3{
	font-family: poppins-bold;
}
.product_info_table {
    border: transparent;
}

.add_quantity:hover,
.remove_quantity:hover {
    color: #038ad3;
}

@media screen and (max-width: 990px) {
    .cart-table {
        border: 0;
    }
    .cart-table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .cart-table .crt-tb-row {
        border-bottom: 1px solid #234669;
        display: block;
        margin-bottom: 20px;
    }
    .cart-table .crt-tb-td {
        border-bottom: 1px solid #234669;
        display: block;
        font-size: 13px;
        text-align: right;
    }
    .cart-table .crt-tb-td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .cart-table .crt-tb-td:last-child {
        border-bottom: 0;
    }
    .product_image {
        position: relative;
        left: 90%;
        padding-left: 40px;
    }
    .product_number {
        display: flex;
        align-items: center;
        position: relative;
        left: -8%;
    }
}

.product_description {
    position: relative;
    bottom: 65px;
    left: 12px;
}

.product_image {
    position: relative;
    left: 15px;
}

.product_number {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 390px) {
    .product_image {
        position: relative;
        left: -9%;
    }
    .product_number {
        display: flex;
        align-items: center;
        position: relative;
        left: -18%;
    }
    .product_description {
        bottom: 5%;
        left: 14%
    }
}

@media screen and (max-width: 350px) {
    .product_image {
        position: relative;
        left: -9%;
    }
    .product_number {
        display: flex;
        align-items: center;
        position: relative;
        left: -18%;
    }
    .product_description {
        bottom: 5%;
        left: -1%
    }
}

#seller:hover {
    font-size: 18px;
    color: #038ad3;
}


/*modifica checkbox*/

.selectedItemSwitch {
    position: relative;
    background: #406386;
    width: 49px;
    height: 18px;
    -webkit-appearance: initial;
    border-radius: 22px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*serve per non mostrare l'evidenziatura quando clicchi sullo slider*/
    outline: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.selectedItemSwitch:after {
    position: absolute;
    top: 8%;
    display: block;
    width: 45%;
    height: 90%;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    /*serve per la transizione dello slider check*/
    color: black;
}

.selectedItemSwitch:after {
    left: 2%;
    font-family: FontAwesome;
    content: "\f057";
    color: red;
}

.selectedItemSwitch:checked:after {
    left: 53%;
    font-family: FontAwesome;
    content: "\f058";
    color: rgb(122, 187, 24);
}

.styleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 35px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.styleButton:hover {
    background-color: #4080bf;
}

@media screen and (max-width: 480px) {
    .styleButton {
        font-size: 11px;
    }
    .cart-table-total .crt-tb-th {
        font-size: 10px;
    }
}
@media screen and (max-width: 480px) {
    h3{
    font-size: 16px;
    }
}

@media screen and (max-width: 370px) {
    .styleButton {
        font-size: 9px;
    }
    .cart-table-total .crt-tb-th {
        font-size: 9px;
    }
    .cart-table-total .crt-tb-th:first-child {
        padding-left: 8px;
    }
    .selectedItemSwitch {
        width: 33px;
    }
    .cart-table .crt-tb-td {
        padding-left: 1px;
    }
     h1.noProducts-txt {
        font-size: 26px;
    }
}

.removeProduct {
    padding: 1px 10px 10px 17px;
    cursor: pointer;
}

.removeProduct::before {
    font-family: FontAwesome;
    content: "\f1f8";
    font-size: 18px;
    color: #234669;
}

.removeProduct:hover::before {
    font-family: FontAwesome;
    content: "\f1f8";
    font-size: 20px;
    color: #038ad3;
}


.cart_icon::before {
    font-family: FontAwesome;
    content: "\f07a";
    font-size: 35px;
    color: white;
}

.noProductContainer {
    display: block;
    border: solid 1px #234669;
    background: #96b9dc;
    padding: 10px;
    border-radius: 26px;
    margin-left: 24%;
    width: 50%;
    margin-top: 7%;
}

h1.noProducts-txt {
    color: #234669;
    text-align: center;
}

textarea.description-txt {
    display: block;
    width: 80%;
    height: 125px;
    background: #234669;
    border: 1px solid #234669;
    border-radius: 15px;
    padding: 1% 3% 1% 3%;
    color: #96b9dc;
    resize: none;
    font-size: 14px;
    margin-left: 8%;
    margin-top: 1%;
}
textarea.description-txt::-webkit-scrollbar {
        width: 0 !important
    }
    
textarea.description-txt{
        -ms-overflow-style: none;
    }
img.product-image {
    max-width: 69%;
    margin-left: 17%;
    border-radius: 25px;
    cursor: pointer;
}

img.product-image:hover {
    max-width: 72%;
}

.payment-container {
    color: #234669;
    text-align: center;
}

p.payment-txt-info {
    padding-bottom: 2%;
}

.contaier {
    padding: 4% 20% 8% 20%;
}

.form-container {
    background: #96b9dc;
    border: 2px solid #234669;
    border-radius: 100px;
    padding: 5% 10% 5% 10%;
}

input#signup_submit_button {
    padding: 0 20px;
    min-width: 50%;
    height: 50px;
    background-color: #234669;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    margin-top: 1%;
}

input#signup_submit_button:hover {
    background-color: #3d95ce;
}

iframe#braintree-dropin-frame {
    width: 320px;
}

@media (max-width: 668px) {
    .contaier {
        padding: 5% 10% 8% 10%;
    }
}

@media (max-width: 490px) {
    iframe#braintree-dropin-frame {
        width: 250px;
    }
    h2.serviceBilling {
        padding-top: 20%;
        font-size: 25px;
    }
}

.inputStyle {
    /* serve per lo stile del campo di testo*/
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1;
    
    background: transparent;
    padding: 0 5px;
    color: #234669;
    border:none;
    border-bottom: 1px solid #2162a2;
}

.inputStyle:focus {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    border:none;
    border-bottom: 1px solid #57b846;
}

